{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="page-section about-heading">
      <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'img/about.jpg' %}" alt="">
        <div class="about-heading-content">
          <div class="row">
            <div class="col-xl-9 col-lg-10 mx-auto">
              <div class="bg-faded rounded p-5">
                <h2 class="section-heading mb-4 text-center">
                  <span class="section-heading-upper d-block">Tradición familiar </span>
                  <span class="section-heading-lower text-center">Nuestra historia</span>
                </h2>
                <p class="text-justify-custom">Fundada en 1987 por una pareja de esposos con amplia experiencia emprendedora, nuestra empresa ha construido una trayectoria sólida basada en la calidad, la confianza y el servicio responsable. Durante más de tres décadas, hemos consolidado nuestra presencia en el sector retail atendiendo a nuestra comunidad con compromiso y profesionalismo.</p>

                <p class="text-justify-custom">Hoy, avanzamos con una visión moderna y estratégica, incorporándonos plenamente a la era digital. La optimización de nuestros procesos y la adopción de nuevas tecnologías reflejan nuestro objetivo de ofrecer una experiencia de compra más ágil, eficiente y alineada con las exigencias del mercado actual, sin perder la esencia familiar que nos caracteriza.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}