{% extends 'base.html' %}

{% block title %}Domi's Market{% endblock %}

{% load static %}

{% block content %}
    
     <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'img/intro1.jpg' %}" alt="">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Déjate sorprender</span>
              <span class="section-heading-lower">Te gustará</span>
            </h2>
            <p class="mb-3 text-justify-custom">Trabajamos sólo con los mejores y mas variados productos. Encuentra de todo a precios accesibles, los mejores del mercado.
            </p>
            <div class="intro-button mx-auto">
              <a class="btn boton1 btn-xl" href="{% url 'producto_app:product-list' %}">Visítanos</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Mensaje -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0 text-justify-custom">En Domi’s Market trabajamos cada día para ofrecerte productos frescos, de calidad y al mejor precio. Nos esforzamos por brindarte una experiencia de compra rápida, sencilla y confiable. Desde abarrotes y limpieza hasta snacks y productos esenciales para tu hogar, aquí encontrarás todo lo que necesitas sin complicaciones. Estamos comprometidos con tu satisfacción y seguimos mejorando constantemente para darte siempre lo mejor.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    
{% endblock %}
